/* You can add global styles to this file, and also import other style files */

body {
    padding: 0px;
    margin: 0px;
    max-width: 1200px;
    margin: 0px auto;
    height: 100%;
    font-size: 12px;
    line-height: 16px;
    text-size-adjust: none;
}

html {
    background-color: rgb(4, 18, 26);
    ;
}