<div class="Menu">

    <div class="navbar">
        <div class="p-menubar">

            <li class="brand">
                <a class="navbar-brand" href="#">
                    <img src="../../../assets/img/adn_logo_white.svg" class="logo" width="84px">
                </a>
            </li>


            <li class="catalogue">
                <a class="navbar-catalogue" href="#">
                    <span class="pi pi-th-large"></span>
                    <span class="catalogue-title">CATALOGUE</span>
                </a>
            </li>


            <li class="news">
                <a class="navbar-news" href="#">
                    <span class="pi pi-bolt"></span>
                    <span class="news-title">NOUVEAUTÉS</span>
                </a>
            </li>

            <li class="series">
                <a class="navbar-series" href="#">
                    <span class="pi pi-youtube"></span>
                    <span class="series-title">SÉRIES</span>
                </a>
            </li>

            <li class="films">
                <a class="navbar-series" href="#">
                    <span class="pi pi-youtube"></span>
                    <span class="series-title">FILMS</span>
                </a>
            </li>

            <li class="watchlist">
                <a class="navbar-brand" href="#">

                </a>
            </li>


            <li class="TV">
                <a class="navbar-brand" href="#">

                </a>
            </li>

            <li class="white-space">
                <a class="navbar-brand">

                </a>
            </li>



            <li class="search">
                <a class="LinkSearchInmenu">
                    <span class="pi pi-search iconSearchInmenu"></span>
                </a>
            </li>

            <li class="avatar" (click)="onBlur()">
                <a class="LinkiconSearchInmenu">

                    <img class="avatarOfUser" src="../../../assets/img/ch20_bg13_green0_188.jpg" (click)="logout()">
                </a>
            </li>



        </div>




    </div>

    <div [ngClass]="{up: isBlur, down: !isBlur}">
        <div class="subMenu">

            <div class="searchIcon">
                <span class="pi pi-search"></span>

            </div>

            <div class="searchInput">
                <input class="InputText" type="text" pInputText placeholder="Search">
            </div>

        </div>
    </div>
</div>