div {
    margin-top: -71px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    >.elements-container {
        background-color: rgb(48, 49, 50);
        color: white;
        height: calc(100vh - (2 * 16px));
        border-radius: 5px;
        position: relative;
        display: flex;
        flex-direction: row;
        text-align: center;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        margin-top: 16px;
        margin-bottom: 16px;
        >.reducer-container {
            padding: 15px;
            margin-top: -4px;
            justify-content: center;
            width: 270px;
            height: 570px;
            >.container {
                border: 0.1px solid white;
                margin-top: 0px;
                justify-content: center;
            }
        }
    }
}

@media(max-width: 770px) {
    div>.elements-container {
        height: calc(100vh - (2 * 8px));
        border-radius: 0px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

a:link {
    color: rgb(0, 149, 255);
}

a {
    text-decoration: none;
    cursor: pointer;
}

* {
    font-family: "Poppins";
    font-weight: 100;
}

img {
    width: 100px;
    height: 100px;
    margin-bottom: 16px;
}

h3 {
    font-size: 2.1em;
    margin: 0px 0px 16px;
    line-height: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
}

div.form-container {
    margin: 0px auto;
    width: 100%;
    max-width: 270px;
    height: 335px!important;
    text-align: center;
    border: 1px solid red;
}